<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artist Form</title>
</head>
<body>
<form th:action="@{/artists}" th:method="POST">
    <label class="form-inputs">
        <p>Name</p>
        <input th:field="${artist.name}" required>
<!--        <p>Start</p>-->
<!--        <input th:field="${artist.startDate}">-->
<!--        <p>End</p>-->
<!--        <input th:field="${artist.endDate}">-->
        <p>Country</p>
        <input th:field="${artist.country}">
        <p>Description</p>
        <input th:field="${artist.description}" required>
    </label>
    <button type="submit"></button>
</form>
</body>
</html>